.settings-container {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    row-gap: 1em;
    grid-template-columns: 40%;
}

.form {
    display: grid;
    row-gap: 1em;
    color: white;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.settings-btn {
    max-width: 20%;
    justify-self: center;
}

/* .settings-container .title {
    margin-top: 0;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: white;
    row-gap: 1em;
}

.bold {
    font-weight: bold;
} */