.settings-container {
    text-align: center;
}

.settings-container .title {
    margin-top: 0;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: white;
    row-gap: 1em;
}

.bold {
    font-weight: bold;
}