.letter-grid-container {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-auto-flow: column;
    justify-content: center;
    padding-top: 1em;
    gap: 0.5em;
}

.letter-grid-btn {
    color: white;
    font-weight: bold;
    font-size: calc(1rem + 1vw);
    cursor: pointer;
    border: 2px solid #2F4550;
    border-radius: 10px;
    max-height: 50%;
    padding: 0.5em;
    z-index: 10;

    display: grid;
    grid-template-rows: min-content min-content;
}

.letter-grid-btn p {
    margin: 0;
    margin-top: 0.5em;
}

.letter-grid-btn i {
    width: min-content;
    justify-self: end;
    align-self: start;
    margin-top: 0.5em;
}

.letter-grid {
    justify-self: center;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 50vw;
    gap: 0.5em;
    margin-bottom: 0;
}

.alphabet {
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
    font-weight: bold;
    font-size: calc(1rem + 1vw);
    border: 2px solid #2F4550;
    border-radius: 10px;
    min-width: 4vw;
    min-height: 4vw;
    max-width: 4vw;
    max-height: 4vh;
    cursor: pointer;
}

@media (max-width: 767px) {
    .letter-grid {
        width: 60%;
    }

    .alphabet {
        padding: 1vw;
    }
}