.letter-grid {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    gap: 1em;
    min-width: 10em;
    min-height: auto; */

    margin-left: auto;
    margin-right: auto;

    display: flex;
    width: 40%;
    flex-wrap: wrap;
    justify-content: center;
    /* row-gap: 1em; */
}

.alphabet {
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
    font-weight: bold;
    border: 2px solid darkblue;
    height: 3em;
    width: 3em;
    border-radius: 10px;
    margin-right: 1em;
    
}