.letter-grid {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    /* max-width: 100%;
    width: 40%; */
    max-width: 40%;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1%;
    column-gap: 1%;
}

.alphabet {
    display: grid;
    justify-content: center;
    align-content: center;
    color: white;
    font-weight: bold;
    border: 2px solid darkblue;
    height: 3em;
    width: 3em;
    border-radius: 10px;
    /* margin-right: 1em; */
}