@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rochester&family=Rubik+Bubbles&family=Source+Code+Pro:wght@900&display=swap');

html {
  height: 100%;
}

body {
  font-size: 1.5em;
  letter-spacing: 0.05em;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Bebas Neue', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  background-color: #54B989;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}